// 主页文章添加阴影
// .post {
//    margin-top: 20px;  //大小自行调整 
//    margin-bottom: 20px; //大小自行调整
//    padding: 10px;      //大小自行调整
//    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
// }
//背景色 链接悬浮色
:root {
    // --body-bg-color: #f9dbb647;
    --link-hover-color: #f37979;//
}
//标题颜色黑色
.site-title {
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 1.375em;
    font-weight: normal;
    margin: 0;
    color: #fff;
}
//标题带去除
.brand {
    background: #2220;
}
//侧边栏深黑
// .sidebar {
//     background: hsl(0, 0%, 8%);
//     bottom: 0;
//     box-shadow: inset 0 2px 6px #000;
//     position: fixed;
//     top: 0;
// }

//单句代码 
p code, li code {
    font-size: 14px;
    line-height: 2.0em;
    color: #333;
    font-weight: bold;
    border: 1px solid #ebc65a;
    background: #fff;
    box-shadow: 0.2em 0.2em 0 0 #ebc65a;
    padding: 0.1em 0.4em;
    margin: 0 0.4em;
    vertical-align: bottom;
}

//注释引用
blockquote {
    color: #01579b;
    /* margin-top: 25px; */
    margin-top: 16px;
    border-left: 4px solid #abd4e7;
    background-color: #e1f5fe;
}

//注释里的代码
blockquote code {
    color: #01579b;
    font-weight: bold;
    border: 1px solid #ebc65a00;
    background: rgba(193,235,254,0.38);
    box-shadow: 0.2em 0.2em 0 0 #91e2de82;
    padding: 0.1em 0.4em;
    margin: 0 0.4em;
    vertical-align: bottom;
    line-height: 2.0em;
    font-size: 14px;
}


// pre code {
//     border: 0px solid #ebc65a;
//     box-shadow: 0em 0em 0 0 #ebc65a;
// }

//链接色 
// a, span.exturl {
//     border-bottom: 1px solid #999;
//     color: #ea0e0e;
//     outline: 0;
//     text-decoration: none;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     cursor: pointer;
// }

//1级标题
h1 {
    font-size: 2em;
    color: #200eaf;
    margin-top: 100px;
}

h2 {
    font-size: 1.5em;
    color: #1478ce;
}

h3 {
    font-size: 1.2em;
    color: darkblue;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    color: darkblue;
    font-weight: bold;
}

body{
    font-size: 14px;
}

//两级大标题
.post-body h1, .post-body h2 {
    /* padding-bottom: 0.3em; */
    /* border-bottom: 1px solid #eaecef; */
    /* transition: box-shadow 0.5s cubic-bezier(0.71, 0, 0, 0.99); */
    // box-shadow: inset 0 -0.6em 0 #ffeb88;
    background: linear-gradient(135deg, transparent 0%, rgba(75,222,237,0.22) 33%, rgba(75,222,237,0.149) 33%, #c1c7ea0a 61%, #c1c7ea0a 61%, rgba(5,50,175,0) 80%, rgba(5,50,175,0.031) 80%, transparent 100%);
    background-size: 100% 20%;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: bottom;
}

//顶部标签
.menu-item .fa, .menu-item .fab, .menu-item .far, .menu-item .fas {
    color: #03031b;
}

//顶部标签文字
.menu-item a, .menu-item span.exturl {
    color: #527696;

}

//文章标题
.posts-expand .post-title {
    color: #03031b;
}