//文章宽度
$content-desktop-large        = 1100px;     //中等大小时，固定宽度
$content-desktop-largest      = 66%;

//文章文字距边界距离

$content-desktop-padding        = 40px;


//文章背景色
$content-bg-color             =#fffffff2;

// Back to top
$b2t-opacity                  = 1;

//头像边框
$site-author-image-border-color   = #ffffff;

//按钮弧度
$btn-default-radius           = 10px;

//整体布局弧度
$border-radius-inner              = 10px;
$border-radius                    = 10px;



//导航栏选中的小点点
$menu-item-bg-color           = #ececec99;
